html {
    background-color: black;
    
}

body {
    margin: 0;
    padding: 0;

}
.grid-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

#btn-container {
    display: flex;
    height: auto;
    min-height: 100px;
    justify-content: center;
    align-items: center;
flex: 1 1 auto;

    border: 5px solid yellow;

}

.btn {
    height: auto;
    width: 50%;
    background-color: yellow;
    border: 1px solid black;
    color: black;
    border-radius: 14px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
flex:  0 1 auto;
white-space: normal;
text-overflow: ellipsis;
overflow-wrap: break-word;


    
    

}